

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body {
	background-image: url(../imagenes%20de%20fondo/fondoperpetua2.gif);
}
</style>
</head>
<body>

<center><h1> reportes usuarios</h1>
  
<a href="../Ejemplo_DOMPDF/reporte_word.php">Reportes en WORD</a>
<br></br>
<a href="../Ejemplo_DOMPDF/reporte_excel.php">Reportes en EXCEL</a>
<br></br>
<a href="../Ejemplo_DOMPDF/reporte_txt.php">Reportes en TXT </a>
<br></br>
<a href="../Ejemplo_DOMPDF/reporte_pdf.php">Reportes en PDF</a>
<br></br>

<p></br>
	  <form method="post" action="../index.php?controller=administrador&accion=index">
				
					<button class="btn btn-info btn-block">anterior pagina</button><div id="bar"> </form>
 </center>
</p>
</p>
</p>
</body>
</html>